*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
}
#plane{
    text-align: center;
}
#photo{
    width:300px;
    border-radius: 30%;
    background-color: rgba(137, 43, 226, 0);
}
.heading{
    color: white;
    background-color: transparent;
    position: relative;
    font-family: 'Georgia';
    top: -490px;
    left: 200px;
    margin-right: 300px;
}
#blue{
    color: rgb(44, 44, 255);
}
#mov{
    position: absolute;
    top: 170px;
    left: 230px;
}
.options{
    display: block;
    padding: 18px;
    border: none;
    margin-right: 400px;
    font-family: 'Georgia';
    font-size: 20px;
    transition: 1s;
    color: rgb(44, 44, 255);
    background-color: transparent;
}
.options:hover{
    color: rgb(255, 3, 213);
    font-size: 21px;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 1px blue;
}
#side-box1{
    background-color: rgba(61, 57, 57, 0);
    position: absolute;
    border-radius: 20px;
    top: 100px;
    left: 790px;
    width: 400px;
    height: 100px;
    transition: 0.3s;
    box-shadow: 0px 0px 30px 0px blue;
}
#side-box1:hover{
    box-shadow: 0px 0px 30px 0px rgb(238, 0, 255);
    transition: 0.3s;
    
}
#man{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 30px;
    color: rgb(255, 0, 225);
    font-family: 'Georgia';
}
.lot{
    width: 38px;
    position: absolute;
    top: 150px;
    left: 810px;
    transition: 0.3s;
}
.lot1{
    width: 45px;
    position: absolute;
    top: 146px;
    left: 930px;
    transition: 0.3s;
}
.lot2{
    width: 38px;
    position: absolute;
    top: 150px;
    left: 870px;
    transition: 0.3s;
}
#side-box2{
    background-color: rgba(61, 57, 57, 0);
    position: absolute;
    border-radius: 20px;
    top: 280px;
    left: 790px;
    width: 400px;
    height: 250px;
    transition: 0.3s;
    box-shadow: 0px 0px 30px 0px blue;
}
#side-box2:hover{
    box-shadow: 0px 0px 30px 0px rgb(238, 0, 255);
    transition: 0.6s;
}
p{
    color:white;
    padding: 20px;
    font-family: 'Georgia';
}
#download{
    position: absolute;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 12px;
    background-color: transparent;
    top: 50px;
    left: 1080px;
    box-shadow: 0px 0px 16px 0px blue;
}
#download:hover{
    box-shadow: 0px 0px 16px 0px rgb(238, 0, 255);
    transition: 0.3s;
}
hr{
    background-color: blue;
    height: 1px;
    border: 1px solid blue;
}
#chan{
    line-height: 1.6;
}
.lot:hover{
    width: 42px;
}
.lot1:hover{
    width: 49px;
}
.lot2:hover{
    width: 42px;
}
#kl{
    text-decoration: none;
    color: aqua;
}
#nam{
    position: absolute;
    width: 70px;
    top: 46px;
    left: 80px
}
#kuy{
    background-color: black;
    color: white;
    padding: 10px;
    border: 3px double rgb(238, 0, 255);
    border-radius: 25px;
    position: absolute;
    top:500px;
    left: 600px;
}
#nom{
    color: rgb(195, 0, 255);
}